 body{font-family: nunito;}
body p{font-family: 'Open Sans', sans-serif;}

.header_div{min-height: 90px} 
.navbar-default{background-color:#303030 !important;border:none !important;}
.navbar-default .navbar-nav > li > a{color: #fff !important;font-size: 10px !important;font-weight: 700 !important;padding: 15px 7px !important;}
.container-fluid>.navbar-header{margin:0px !important;}
.header_divider{padding: 0px 7px !important;}
.header_divider > img{margin:8px 6px 8px 0px;height: 34px;}
.navbar-right li a span{font-size: 8px;margin: 0px 6px;color:#f7b236;}
.header_icons{width: 15.999px;height: 16px;margin: 2px 6px 2px 0px;}
.join_us_free_btn{background-color: #3DB92C;border:2px solid #ffffff;color:#ffffff !important;font-size: 10px;font-weight:100;border-radius: 2px;}
.join_us_free_btn:hover,.join_us_free_btn:focus,.join_us_free_btn:active{background-color: #298f15;}
.earlier_pages{color:#E2EEF7 !important;font-size: 10px;font-weight: 400;display:inline-block;text-decoration: none !important;}
.onpages{color:#ffffff !important;font-size: 10px;font-weight: 700;display: inline-block;text-decoration: none !important}
.white_color{color: #ffffff;font-size: 10px;font-weight: 100;}
.breadcrum_style{background-color: #5c8abb;min-height: 40px}
.invite_friend{color:#E2EEF7;border:1px solid #E2EEF7;font-size:10px;font-weight:700;background-color:transparent;border-radius: 42px;padding:6px 15px;}
.top_arrow{z-index:2;width: 0px;height: 0px;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 11px solid #ffffff;position: absolute;font-size: 12px !important;margin: 0px!important;top: -11px;right: 11px;}
.menu_common{right: initial !important;padding: 0px;margin: 0px;min-width: 328px;min-height: 208px;box-shadow:none;border:none;border-radius: 0px !important}
.menu_common > .top_arrow{left: 15px !important;}
.menu_common_shadow{box-shadow: 0px 2px 8px 0px #dddddd;} 
.menu_common_minheight{min-height: 208px}
.common_heading li {color:#9b9b9b;font-size: 10px;font-weight: 400;padding:7px 10px 7px 10px;min-height: 35px;cursor: pointer;}
.element_2_heading li:hover,.element_2_heading li:focus,.element_2_heading li:active{background-color:#EAC85D;color:#4a4a4a;}
.element_3_heading li:hover,.element_3_heading li:focus,.element_3_heading li:active{background-color:#BEB7F4;color:#4a4a4a;}
.element_4_heading li:hover,.element_4_heading li:focus,.element_4_heading li:active{background-color:#6FD4DB;color:#4a4a4a;}
.element_5_heading li:hover,.element_5_heading li:focus,.element_5_heading li:active{background-color:#F09DB2;color:#4a4a4a;}
.element_6_heading li:hover,.element_6_heading li:focus,.element_6_heading li:active{background-color:#DEA6EA;color:#4a4a4a;}
.common_heading > :first-child{margin-top: 3px}
.common_heading > :last-child{margin-top: 3px}
.common_sub_heading{padding:12px;display: none}
.common_sub_heading .common_image{width:140px;height:87px}
.common_sub_heading .common_text{color:#606061;font-size: 10px;line-height: 1.2;padding: 15px 0px;margin:0px;}
.element_2_sub_heading .common_hr{background-color: #EAC85D;height: 7px;margin: 0px;border: none;}
.element_3_sub_heading .common_hr{background-color: #BEB7F4;height: 7px;margin: 0px;border: none;}
.element_4_sub_heading .common_hr{background-color: #6FD4DB;height: 7px;margin: 0px;border: none;}
.element_5_sub_heading .common_hr{background-color: #F09DB2;height: 7px;margin: 0px;border: none;}
.element_6_sub_heading .common_hr{background-color: #DEA6EA;height: 7px;margin: 0px;border: none;}
.element_2_sub_heading .common_border_bottom{border-top:1px solid #EAC85D;margin:0px 0px 12px;} 
.element_3_sub_heading .common_border_bottom{border-top:1px solid #BEB7F4;margin:0px 0px 12px;}
.element_4_sub_heading .common_border_bottom{border-top:1px solid #6FD4DB;margin:0px 0px 12px;} 
.element_5_sub_heading .common_border_bottom{border-top:1px solid #F09DB2;margin:0px 0px 12px;} 
.element_6_sub_heading .common_border_bottom{border-top:1px solid #DEA6EA;margin:0px 0px 12px;} 
.element_2_sub_heading .common_a{color:#EAC85D;font-size:11px;font-weight: 400;text-align: center;}
.element_3_sub_heading .common_a{color:#BEB7F4;font-size:11px;font-weight: 400;text-align: center;}
.element_4_sub_heading .common_a{color:#6FD4DB;font-size:11px;font-weight: 400;text-align: center;}
.element_5_sub_heading .common_a{color:#F09DB2;font-size:11px;font-weight: 400;text-align: center;}
.element_6_sub_heading .common_a{color:#DEA6EA;font-size:11px;font-weight: 400;text-align: center;}
.common_sub_heading_section > :first-child{display:block;}
/*div {display: none;}
    
a:hover + div {display: block;}*/
.element_2_topic_1:hover > .element_2_sub_topic_1{display: block !important;}

.menu_user_icon_not_login{background-color:#ffffff !important;padding: 0px;margin: 0px;min-width: 195px;min-height: 233px;box-shadow: 0px 2px 4px 0px #dddddd !important;border:none !important;border-radius: 3px !important;position: absolute !important;}
.menu_join_us_free{background-color:#ffffff !important;padding: 0px;margin: 0px;min-width: 195px;min-height: 233px;box-shadow: 0px 2px 4px 0px #dddddd !important;border:none !important;border-radius: 3px !important;position: absolute !important;}
.menu_user_info{background-color:#ffffff !important;padding: 0px;margin: 0px 3px 0px 0px;box-shadow: 0px 2px 4px 0px #dddddd !important;border: none !important;border-radius: 3px !important;position: absolute !important;}
.menu_user_info > .top_arrow{right: 4px;}

.menu_user_button{color: #668fbb !important;border: 1px solid #9aa6b2 !important;min-width: 170px !important;padding: 9px 20px !important;margin: 2px 10px !important;}
.menu_user_button:hover{background-color: #f5f5f5}

.facebook_social_btn{background-color: #3A579A;color: #E2EEF7 !important;padding: 0px;width: 100%;font-size: 10px;font-weight: 400 !important;text-align: left;}
.btn-facebook {color: #fff !important;background-color: #3b5998;border-color: rgba(0, 0, 0, 0.2);}
.btn-social {position: relative;padding-left: 44px;text-align: center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 12px;}
.btn-block {display: block;width: 100%}   
.btn-social > :first-child {position: absolute;left: 0;top: -3px;bottom: 0;width: 32px;line-height: 34px;font-size: 24px !important;text-align: center;border-right: 1px solid rgba(255, 255, 255, 0.3);}


.facebook_icon{font-size: 18px !important;text-align: left;padding: 6px;border-right: 0.5px solid #E2EEF7;color: #fff;}
.facebook_btn_text{font-size: 11px;font-weight: 100;float: none;display: inline-block;position: absolute;top: 16px;right: 45px;}

.OR_line{margin: 5px 0px;}
.user_icon_not_login_submit_btn{background-color: #50E3C2;width: 100%;border: none;font-size: 12px;font-weight: 600;border-radius: 2px;padding: 6px 12px;color: #fff !important;}

.clickable_link{font-size: 10px !important;font-weight: 100;color: #6C9DFB;}
.submit_btn_style{padding: 8px 0px;border-top: 1px solid #cad8e8;margin: 0px;border-bottom: 1px solid #cad8e8;}
.not_registered{font-size: 10px !important;font-weight: 100;color: #aaa;margin: 5px 0px 0px}
.form-control{border: 1px solid #f3f3f3 !important;box-shadow: none !important;}
.margin_style{margin:0px 0px 5px;}
/*.menu_like_icon{padding: 0px 10px;margin: 0px -30px 0px 0px;min-width: 280px;min-height: 40px;box-shadow: 0px 2px 4px 0px #dddddd !important;border: 1px solid #dddddd !important;position: absolute !important;}
.menu_like_icon .top_arrow{right: 42px !important;} */
/*.menu_search_icon{padding: 0px 10px;margin: 0px -135px 0px 0px;min-width: 771px;min-height: 43px;box-shadow: 0px 2px 4px 0px #dddddd !important;border:none !important;border-radius: 0px;position: absolute !important;}
.menu_search_icon .top_arrow{right: 145px !important;}*/

.menu_like_icon{background-color:#ffffff !important;padding: 0px 10px;margin: 0px -50px 0px 0px;min-width: 280px;min-height: 40px;box-shadow: 0px 2px 4px 0px #dddddd !important;border: 1px solid #dddddd !important;position: absolute !important;}
.menu_like_icon .top_arrow{right: 60px !important;float: right;}

.menu_like_icon_notloggedin{background-color:#ffffff !important;padding: 0px 10px;margin: 0px -50px 0px 0px;min-width: 280px;min-height: 40px;box-shadow: 0px 2px 4px 0px #dddddd !important;border: 1px solid #dddddd !important;position: absolute !important;}
.menu_like_icon_notloggedin .top_arrow{right: 60px !important;float: right;}




.menu_search_icon{background-color:#ffffff !important;padding: 0px 10px;margin: 0px -50px 0px 0px;min-width: 771px;min-height: 43px;box-shadow: 0px 2px 4px 0px #dddddd !important;border:none !important;border-radius: 0px;position: absolute !important;}
.menu_search_icon .top_arrow{right: 60px !important;float: right;}

.menu_search_icon_notloggedin{background-color:#ffffff !important;padding: 0px 10px;margin: 0px -50px 0px 0px;min-width: 771px;min-height: 43px;box-shadow: 0px 2px 4px 0px #dddddd !important;border:none !important;border-radius: 0px;position: absolute !important;}
.menu_search_icon_notloggedin .top_arrow{right: 60px !important;float: right;}


.find_us{border: 2px solid #bebebe;border-radius: 100%;color: #000;font-size: 11px !important;font-weight: 400;height: 36px;left: 0;line-height: 1;padding-top: 6px;position: absolute;top: 1px;width: 36px;text-align: center;}
.find_us_arrow{color: #bebebe;position: absolute;left: 40px;top: 7px;font-size: 18px !important;font-weight: 600 !important;}
.zero_padding{padding:0px !important;}
.zero_margin{margin:0px !important;}
.find_us_div{display: block;height: 39px;margin: 0px 0px 0 0 !important;position: relative;width: 54px;float: left;padding: 0px 1px;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{color: #E2EEF7 !important;background-color: transparent !important;}
.li_padding{padding: 5px 1px !important;}
.facebook_color{color: #39559c;}
.pinterest_color{color:#bd081c;}
.instagram_color{color:#326288;}
.youtude_color{color:#ed1e1e;}
.linkedin_color{color:#0077b5;}
.google_plus_color{color:#e14929;}
.twitter_color{color:#00a9f2;}
.font_social_icon{font-size: 28px !important;}
.form-control::-moz-placeholder {
  color: #ccc !important;
  opacity: 1;
  font-weight: 100;
  font-size: 12px;
}
.form-control:-ms-input-placeholder {
  color: #ccc !important;
  font-weight: 100;
  font-size: 12px;
}
.form-control::-webkit-input-placeholder {
  color: #ccc !important;
  font-weight: 100;
  font-size: 12px;
}
.search_section{border-top: 1px solid #E2EEF7;padding: 5px 0px !important;min-width: 770px;min-height: 306px;}
.search_different_section{min-height: 306px;border-right: 1px solid #E2EEF7;}
.search_section > :last-child{border-right: 1px solid transparent !important;} 
.padding_zero_eight{padding: 0px 0px 0px 8px;}
.padding_zero_ten{padding: 0px 10px;}
.padding_fifteen_zero{padding: 15px 0px}
.search_image{width: 30px !important;height: 30px !important;border: 1px solid #cfcfcf;box-shadow: 0px 0px 3px 1px #cfcfcf;}
.width_auto{width:auto;}
.search_result{font-size: 9px;width: 81%;}
.search_heading_style{padding: 5px 5px;font-size:16px;color:#283640;border-bottom: 1px solid #dcdcdc}
.common_search_result > :last-child {border-bottom: 1px solid transparent !important}
.search_bar_individual_div{padding: 8px 0px 8px 5px;font-size: 12px;color: #283640;border-bottom: 1px solid #dcdcdc;line-height: 1.4;}
.explore_more_page{position: absolute;bottom: 0px;padding: 10px 0px;width: 90%;text-align: center;font-size: 10px;border-top: 1px solid #dcdcdc;}
.explore_arrow{font-size: 10px;margin-right: 5px;}
.explore_more_page > a{color: #5c8abb !important;}
.menu_padding{padding: 10px 15px 10px 7px !important;}


@media (min-width: 300px ) and (max-width: 1023px) {
  .header_div{min-height: 115px} 
  .navbar-default .navbar-collapse{ background-color: #5c8abb;padding: 0px;border: none;margin: 0px -15px;}
  .collapse {display: block !important;}
  .navbar-collapse.collapse > .nav.navbar-nav.navbar-right{float: right !important;margin: 0px !important;}
  .nav.navbar-nav.navbar-right > li {display: none}
  .nav.navbar-nav.navbar-right > li.xs_sm_visible{display: inline-block !important;}
  .breadcrum_style{display: none}
  .navbar-header{float: none}
  .menu_like_icon {right: 0px !important;left: auto !important;margin:0px 0px 0px 0px;}
  .menu_like_icon .top_arrow {right: 10px !important;}

  .menu_like_icon_notloggedin {right: 0px !important;left: auto !important;margin:0px 0px 0px 0px;}
  .menu_like_icon_notloggedin .top_arrow {right: 10px !important;}

  .menu_search_icon{right: 0px !important;left: auto !important;min-width: 300px !important;min-height: 400px !important;}

  .menu_search_icon_notloggedin{right: 0px !important;left: auto !important;min-width: 300px !important;min-height: 400px !important;}

  

  .menu_user_icon_not_login{margin:1px 0px 0px 0px !important;right: 0px !important;left: auto !important;}
  .menu_join_us_free{margin:1px 20px 0px 0px !important;right: 0px !important;left: auto !important;}
  .menu_user_info{right: 0px !important;left: auto !important;margin:0px 3px 0px 0px;}
  .search_section{min-width: 300px;min-height: 400px !important;overflow: scroll;height: 400px;}
  .search_different_section{min-height:0px;border-right: 1px solid transparent;}
  .explore_more_page{position: relative;bottom:inherit;padding: 10px 0px;width: 100%}
  
  .user_name_joined_date{display: none;}
  .loginuserdropdown{float: right !important;}
  .menu_padding{padding:10px 0px !important;}
}  

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #9ACEF6; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    color:#E2EEF7;
    padding: 0px !important;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

#mySidenav ul > :first-child{background-color: #3974B9 !important;padding: 14px 20px;font-size: 16px;color:#E2EEF7 !important;}
#mySidenav ul > :first-child:hover{background-color: #3974B9 !important;}
#mySidenav ul > li{padding: 14px 20px;font-size: 14px;font-weight: 400;cursor: pointer;}
#menu_xs_sm li:hover{background-color: #abd9fc !important}
#mySidenav ul > li > .sidebar_arrow{font-size: 12px;float: right;top: 4px;}
.submenu_sm_xs{display: none;top: 4px;}
.back_arrow{float: left;font-size: 12px;top: 4px;}

.submenu_sm_xs > li:hover{background-color: #f3f3f3 !important}

#element_2_submenu .sidebar_arrow{color: #EAC85D;}
#element_2_submenu .submenu_heading,#element_2_submenu .submenu_heading:hover{background-color: #EAC85D !important;color:#ffffff;}

#element_3_submenu .sidebar_arrow{color: #BEB7F4}
#element_3_submenu .submenu_heading,#element_3_submenu .submenu_heading:hover{background-color: #BEB7F4 !important;color:#ffffff;}

#element_4_submenu .sidebar_arrow{color: #6FD4DB}
#element_4_submenu .submenu_heading,#element_4_submenu .submenu_heading:hover{background-color: #6FD4DB !important;color:#ffffff;}

#element_5_submenu .sidebar_arrow{color: #F09DB2}
#element_5_submenu .submenu_heading,#element_5_submenu .submenu_heading:hover{background-color: #F09DB2 !important;color:#ffffff;}

#element_6_submenu .sidebar_arrow{color: #DEA6EA}
#element_6_submenu .submenu_heading,#element_6_submenu .submenu_heading:hover{background-color: #DEA6EA !important;color:#ffffff;}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-height: 361px) {


}  


@media (min-width: 200px ) and (max-width: 420px) {
     .menu_user_info{right: 0px !important;left: auto !important;margin:0px 3px 0px 0px;}
     .search_section{min-width: 280px;min-height: 400px !important;overflow: scroll;height: 400px;}

     .menu_like_icon .top_arrow {right: 72px !important;}
     .menu_like_icon {right: 0px !important;left: auto !important;margin:0px -60px 0px 0px;}
     .menu_search_icon{right: 0px !important;left: auto !important;min-width: 280px !important;min-height: 400px !important;margin:0px -98px 0px 0px;}     
     .menu_search_icon .top_arrow {right: 110px !important;float: right;}


     .menu_like_icon_notloggedin{right: 0px !important;left: auto !important;margin:0px -128px 0px 0px;}
     .menu_like_icon_notloggedin .top_arrow {right: 138px !important;}
     .menu_search_icon_notloggedin{right: 0px !important;left: auto !important;min-width: 280px !important;min-height: 400px !important;margin:0px -165px 0px 0px;}     
     .menu_search_icon_notloggedin .top_arrow {right: 176px !important;float: right;}

     .menu_user_icon_not_login{margin: 1px -40px 0px 0px !important;right: 0px !important;left: auto !important;}
     .menu_user_icon_not_login .top_arrow{right: 52px !important;}
} 



/*@media (min-width: 1200px ) and (max-width: 2000px) {
  .navbar-default .navbar-nav > li > a{color: #fff !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    padding: 14px 7px !important;}
}*/ 

@media (min-width: 768px) and (max-width: 1023px){
  .sm_view{width: auto !important}
}


.filter_dropdown_n{font-size: 14px;font-weight: 500;height: 38px;border-radius:4px;box-shadow: none !important;outline: none !important;width: 100%;background-color: #fff;border:1px solid #f0f0f0;color:#1b5264 !important;text-align: left;}
.filter_dropdown_n:hover{border:1px solid #bdbdbd;}
.filter_dropdown_active,.filter_dropdown_active:hover{border:1px solid #89aaca !important;color:#1b5264;text-align: left;font-size: 14px;font-weight: 500;height: 38px;border-radius:3px;box-shadow: none !important;outline: none !important;width: 100%;background-color: #fff;}


.filter_dropdown_menu_n{width: 100%;margin-top: 5px;box-shadow: none;height: 150px;overflow-y: auto;}
.filter_dropdown_menu_n>li>a{color:rgb(157,159,160) !important;padding:5px 15px !important}































